@keyframes opacity-grad {
    0% {
        background: var(--black);
    }

    25% {
        background: rgba(0, 0, 0, 0.8);
    }

    50% {
        background: rgba(0, 0, 0, 0.3);
    }

    75% {
        background: rgba(0, 0, 0, 0.8);
    }

    100% {
        background: var(--black);
    }
}

@keyframes open-main-cards {
    0% {
        height: 0;
    }

    100% {
        height: 100vh;
    }
}

@keyframes rotate-left {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotate-right {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}