@keyframes opacity-grad {
    0% {
        background: var(--black);
    }

    25% {
        background: rgba(0, 0, 0, 0.8);
    }

    50% {
        background: rgba(0, 0, 0, 0.3);
    }

    75% {
        background: rgba(0, 0, 0, 0.8);
    }

    100% {
        background: var(--black);
    }
}

@keyframes open-main-cards {
    0% {
        min-height: 0;
    }

    100% {
        min-height: 100vh;
    }
}

@keyframes shrink {
    0% {
        min-height: 50vh;
    }

    100% {
        min-height: 0vh;
    }
}