@keyframes opacity-grad {
    0% {
        background: rgba(0, 0, 0, 0.1);
    }

    25% {
        background: rgba(0, 0, 0, 0.6);
    }

    50% {
        background: var(--black);
    }

    75% {
        background: rgba(0, 0, 0, 0.6);
    }

    100% {
        background: rgba(0, 0, 0, 0.1);
    }
}